@import '../variables';


.list {
  border-top-width: $border-width-mobile;
  border-bottom-width: $border-width-mobile;
  border-style: solid;
  border-color: #000;

  margin-top: 20px;

  width: $content-width-mobile;

  // tablet behaviour
  @media only screen and (min-width: $width-tablet) {
    border-width: $border-width-tablet;
    width: $content-width-tablet;
  }

  // desktop behaviour
  @media only screen and (min-width: $width-desktop) {
    border-width: $border-width-tablet;
    width: $content-width-desktop;
  }
}
