@import './../../variables';

.addItem {
  width: $content-width-mobile;

  // tablet behaviour
  @media only screen and (min-width: $width-tablet) {
    width: $content-width-tablet;
  }

  // desktop behaviour
  @media only screen and (min-width: $width-desktop) {
    background-color: #0e90d2;
    width: $content-width-desktop;
  }
}

.input {
  width: 94%;
}

.button {
  width: 5%;
}
