@import '../../variables';

.outer {
  border-color: #000;
  border-style: solid;
  border-width: 1px;
  border-collapse: collapse;

  width: 100%;
  height: 25px;
}

.inner {
  border-collapse: collapse;

  width: 100%;
  height: 100%;

  button {
    width: 9%;
    display: none;

    // tablet and above
    @media only screen and (min-width: $width-tablet){
      display: inline;
    }
  }
}

.progressContainer {
  border-collapse: collapse;

  width: 100%;
  height: 100%;

  float: left;

  // tablet and above
  @media only screen and (min-width: $width-tablet){
    width: 80%;
  }

  div {
    border-collapse: collapse;

    height: 100%;
  }
}

.progress {
  color: red;
  background-color: #0e0e0e;
}

.progressInactive {
  composes: progress;
  text-decoration: line-through blue;
}
