@import '../../variables';

.item {
  border-color: #000;
  border-top-width: $border-width-mobile;
  border-bottom-width: $border-width-mobile;
  border-top-style: solid;
  border-bottom-style: solid;
  border-collapse: collapse;

  width: 100%;
  height: 25px;
}

.inner {
  border-collapse: collapse;

  width: 100%;
  height: 100%;

  button {
    width: 15%;
    display: none;

    // tablet and above
    @media only screen and (min-width: $width-tablet){
      width: 9%;
      display: inline;
    }
  }

  button.contextMenu {
    display: inline;
  }
}

.progressContainer {
  border-collapse: collapse;

  width: 100%;
  height: 100%;

  float: left;

  // tablet and above
  @media only screen and (min-width: $width-tablet){
    width: 80%;
  }

  div {
    border-collapse: collapse;

    height: 100%;
  }
}

.progressContainer.contextMenu {
  width: 70%;
}

.progress {
  color: red;
  background-color: #0e0e0e;
}

.progressInactive {
  composes: progress;
  text-decoration: line-through blue;
}
