@import '../../variables';

.inner {
  button {
    width: 9%;
    display: none;  // FIXME: doesn't work

    // tablet and above
    @media only screen and (min-width: $width-tablet){
      display: inline;
    }
  }

  width: 100%;
}

.outer {
  border-color: #000;
  border-style: solid;
  border-width: 1px;

  width: 100%;
}

.progressContainer {
  width: 80%;

  float: left;
}

.progress {
  color: red;
  background-color: #0e0e0e;
}

.progressInactive {
  composes: progress;
  text-decoration: line-through blue;
}
