.listItemOuter {
  border-color: #000;
  border-style: solid;
  border-width: 1px;

  width: 100%;
}

.listItemInner {
  color: red;
  background-color: #0e0e0e;
}

.listItemInnerInactive {
  composes: listItemInner;
  text-decoration: line-through blue;
}
