.listElementOuter {
  border-color: #000;
  border-style: solid;
  border-width: 1px;

  width: 100%;
}

.listElementInner {
  color: red;
  background-color: #0e0e0e;
}

.listElementInnerInactive {
  composes: listElementInner;
  text-decoration: line-through blue;
}
