.spinner {
  align-items: center;
  background-color: #2a85a0;
  bottom: 0;
  cursor: wait;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  opacity: 50%;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 2;
}

.hidden {
  display: none;
}
